* text=auto

*.py text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.css text eol=lf
*.json text eol=lf
*.jsonl text eol=lf
*.md text eol=lf
*.sql text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.bat text eol=crlf

*.docx binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary

